// Colors
$kipos-blue: #003B68;
$kipos-light-blue: #01C3FD;
$kipos-green: #93FD9B;

$color-background-main: #F2FCFF;

$color-gradient-main: linear-gradient(to right, $kipos-light-blue 0%, $kipos-green 100%);

$color-font-main: $kipos-blue;

$alert-danger-font: #FE6227;
$alert-danger-background: #FE622731;

$alert-success-font: #003B68;
$alert-success-background: #93FD9B;

// Dimensions

// Shadows

// Font
$font-main: 'Poppins';
